.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
.products-container > .card {
  width: 250px;
  height: 250px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #ccc;
}
.products-container > .card img {
  width: 90%;
  height: 40%;
}
.products-container > .card > p {
  padding: 10px;
  font-size: 30px;
}
.products-container > .card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

button {
  margin: 25px 0 auto 0;
  padding: 10px;
  border: none;
  background-color: rgba(21, 26, 42, 0.787);
  color: white;
  cursor: pointer;
}
button .orderBtn {
  width: 200px;
  border: none;
  background: orangered;
  cursor: pointer;
}
button .orderBtn:hover {
  background: rgb(89, 0, 190);
}